/*------------------------------------*\
    Main CSS
\*------------------------------------*/
img{
	height: 250px;
	width: 250px;
}
img.profile_img{
	border-radius: 50%;
}

/*------------------------------------*\
    MOBILE QUERY CSS
\*------------------------------------*/
@media only screen and (max-width:768px) {

}
